<a href="https://colab.research.google.com/github/vtal-amisampaio/colabs/blob/main/etl_gcp_vtal.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [11]:
from google.colab import auth
auth.authenticate_user()
from google.cloud import bigquery
projeto = 'vtal-sandbox-estrategia'
bd_sd_estrategia = bigquery.Client(project=projeto)

In [12]:
df = bd_sd_estrategia.query('''
SELECT * FROM `vtal-sandbox-estrategia.smart_capex.capex` LIMIT 1000
''').to_dataframe()

In [13]:
df

           cod_setor  capex_rede_primaria  ...  capex_core_mensal  capex_core_anual
0    110001505000001        185322.586193  ...             283.72             28.67
1    110001505000002        164665.214643  ...             283.72             28.67
2    110001505000003        123563.294405  ...             283.72             28.67
3    110001505000004         52396.787863  ...             283.72             28.67
4    110001505000005        211049.332184  ...             283.72             28.67
..               ...                  ...  ...                ...               ...
995  150275605000025        147321.237539  ...             283.72             28.67
996  150276405000001        888048.810372  ...             283.72             28.67
997  150276405000002        734327.885236  ...             283.72             28.67
998  150276405000016        285492.724101  ...             283.72             28.67
999  150276405000017        413078.988247  ...             283.72             28.67

[1000 rows x 5 columns]